option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: tomas_premoli.wsgi:application
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: "tomas_premoli.settings"
  aws:elasticbeanstalk:application:environment:
    LOG_LEVEL: INFO
    DJANGO_LOG_FILE_PATH: /tmp/django-app.log