tomas_premoli/db.sqlite3
tomas_premoli/tomas_premoli/__pycache__

tomas_premoli/api/__pycache__
tomas_premoli/api/migrations/__pycache__

tomas_premoli/api/media/me/
tomas_premoli/api/media/portfolio/

tomas_premoli/frontend/__pycache__
tomas_premoli/frontend/migrations/__pycache__
tomas_premoli/frontend/node_modules

tomas_premoli/frontend/static/admin
tomas_premoli/frontend/static/rest_framework

env
